# Data Science with Python 
# Final Exam - Practice

## LA County Restaurant Inspections and Violations

In [1]:
%autosave 0

Autosave disabled

In [2]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Load the data

In [3]:
import pandas as pd
import seaborn as sns
df_i = pd.read_csv("inspections.csv")
df_v = pd.read_csv("violations.csv")

In [4]:
pd.set_option('display.max_columns',100)

### Data Content
The data covers health code inspections (inspections.csv) and health code violations (violation.csv). More details about the two files is provided in the sections below.

#### Inspections
This dataset contains Environmental Health Violations for Restaurants and Markets in Los Angeles County. Each row represents one inspection result.

The Activity Date, Record ID, and Serial Number are the primary keys to review the violations (Violations Dataset).

All rows with the same Activity Date, Record ID, and Serial Number are part of the same violation.

In [5]:
df_i.head()

,activity_date,employee_id,facility_address,facility_city,facility_id,facility_name,facility_state,facility_zip,grade,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id,score,serial_number,service_code,service_description
0,2017-05-09,EE0000593,17660 CHATSWORTH ST,GRANADA HILLS,FA0175397,HOVIK'S FAMOUS MEAT & DELI,CA,91344,A,OW0181955,JOHN'S FAMOUS MEAT & DELI INC.,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,HOVIK'S FAMOUS MEAT & DELI,ACTIVE,PR0168541,98,DAHDRUQZO,1,ROUTINE INSPECTION
1,2017-04-10,EE0000126,3615 PACIFIC COAST HWY,TORRANCE,FA0242138,SHAKEY'S PIZZA,CA,90505,A,OW0237843,"SCO, LLC",RESTAURANT (61-150) SEATS HIGH RISK,1638,SHAKEY'S PIZZA,ACTIVE,PR0190290,94,DAL3SBUE0,1,ROUTINE INSPECTION
2,2017-04-04,EE0000593,17515 CHATSWORTH ST,GRANADA HILLS,FA0007801,BAITH AL HALAL,CA,91344,A,OW0031150,SABIR MOHAMMAD SHAHID,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,BAITH AL HALAL,INACTIVE,PR0036723,95,DAL2PIKJU,1,ROUTINE INSPECTION
3,2017-08-15,EE0000971,44455 VALLEY CENTRAL WAY,LANCASTER,FA0013858,FOOD 4 LESS #306,CA,93536,A,OW0012108,"FOOD 4 LESS, INC.",RESTAURANT (0-30) SEATS HIGH RISK,1632,FOOD 4 LESS DELI/BAKERY#306,ACTIVE,PR0039905,98,DA0ZMAJXZ,1,ROUTINE INSPECTION
4,2016-09-26,EE0000145,11700 SOUTH ST,ARTESIA,FA0179671,PHO LITTLE SAIGON,CA,90701,A,OW0185167,PHO SOUTH ST INC,RESTAURANT (61-150) SEATS HIGH RISK,1638,PHO LITTLE SAIGON,ACTIVE,PR0173311,96,DA41DBXA2,1,ROUTINE INSPECTION

#### Violations
Each row represents one health code violation.
The Serial Number is the primary key to review the inspection grade (Inspection Result dataset).

In [6]:
df_v.head()

,points,serial_number,violation_code,violation_description,violation_status
0,1,DAJ5UNMSF,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
1,4,DAT2HKIRE,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
2,1,DAT2HKIRE,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
3,1,DAT2HKIRE,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
4,1,DAQN0I8EA,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE

## Q1 (5 pts)

### Q1.1, How many rows of data in violations.csv ?

### Q1.2, What's the row and column counts in inspections.csv ?

## Q2 (5 pts)

### Q2.1,  Any missing data in these two .csv files ?

### Q2.2,  Which one has missing data and what's the missing count ?


## Q3 (10 pts)

### Q3.1, In violation.csv file, how many different violation codes are there?

### Q3.2, How man different type of deduction points(the "points")? and what are they?

## Q4 (10 pts)

### Q4.1, In violation.csv file, what's the top 3 most frequently show up violation codes and how many times they show up?

### Q4.2, What are the descriptions of the top 1 violation codes?

## Merge these two data sets as one data frame by column 'serial_number' (named it *df* and use default *inner* merge). 
**Answer all questions below with this new data frame**

## Q5 (10 pts)

### Q5.1, What's the new data frame size ?

### Q5.2, From violations.csv file point of view, how many rows had been dropped? and why?

## Q6 (10 pts)

### Q6.1, What's the deduction points count distribution(each point showed up how many times)?

### Q6.2,  Plot a bar chart to show the counts.

## Q7 (15 pts)

### Q7.1, How many different facility (name) are in this data set?

### Q7.2, What's the most frequently show up facility name and how many time it show up?

### Q7.3, For this most frequently show up facility name, total how many different stores it has?

## Q8 (15 pts)

### What is the highest total count of violation_code had been given to one single inspection?
(Hint:consider serial_number and facility_address)

### Q8.2, What is the highest total points got deducted in a single inspection?

### Q8.3, Is the answer above two questions point to the same facility? List the facility name(s).

## Q9 (10 pts)

### What's the top 3 facilities(per location) had been inspected most frequent? Report the name, address and the total counts.

(Hint1: There are facility with same name but in different locations. 2: Based on activity_date to do the count, 3: explore method .nunique() )

## Q10 (10 pts)

### Q10.1, For each DOMINO'S PIZZA facility, compute the max, min, gap(between max and min) of score being given. Rename the gap as 'spread'. List the first 5 stores only.

### Q10.2, Which store has the largest score spread? List the facility address and the spread.

## Q11 (Extra credit 10 pts)

### How many different location facilities had been checked each month? Plot a bar chart for it. 

(Hint: Use pd.cut(). Consider this data set covers 30 months exact. allow +- one day off)