# Midterm Practice

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code would not work on different data</li>
<li>Your code is unnecessarily slow (you use a for loop, or you use DataFrame.apply unnecessarily, etc)
<li>You answer is composed of more than one output, unless explicitly permitted
</ul>

## Execute this code to read the data

In [1]:
import pandas as pd
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

df = pd.read_csv('pizzas.csv',index_col=0)
df['pizza_description'].fillna('',inplace=True)
df['restaurant_zipcode'].fillna('',inplace=True)

In [2]:
df.head(20)

,restaurant_id,restaurant_city,restaurant_zipcode,restaurant_province,pizza_id,pizza_price,pizza_name,pizza_description
0,AVwc_6KEIN2L1WUfrKAH,Bend,97701,OR,0,15.50,Bianca Pizza,
1,AVwc_6KEIN2L1WUfrKAH,Bend,97701,OR,1,18.95,Cheese Pizza,
2,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,2,12.00,"Pizza, Margherita",
3,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,3,13.00,"Pizza, Mushroom",
4,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,4,13.00,"Pizza, Puttenesca","Olives, onions, capers, tomatoes"
5,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,5,15.00,"Pizza, Salami Piccante",
6,AVwc_6qRByjofQCxkcxw,Los Angeles,90049,Brentwood,6,15.00,"Pizza, White Truffle Meat Sauce",
7,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,7,7.99,Cheese Pizza,Choose a pizza size.
8,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,8,7.99,Hawaiian Pizza,"Canadian bacon, pineapple."
9,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,9,11.99,Meat Lover Pizza,
10,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,10,5.99,Pizza Sub,
11,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,11,5.99,Super Pizza Sub,
12,AVwc_7d_IN2L1WUfrKNN,Los Angeles,90027,Los Feliz,12,10.99,Veggie Pizza,
13,AVwc_8WAByjofQCxkdDA,Houston,77003,TX,13,9.95,Create Your Own Pizza,Choose any of your own toppings to make it you...
14,AVwc_abAIN2L1WUfrEps,Hyannis,2601,MA,14,8.95,Cheese Pizza,
15,AVwc_abAIN2L1WUfrEps,Hyannis,2601,MA,15,10.95,Pepperoni Pizza,
16,AVwc_dHKkufWRAb51Kei,Provo,84602,UT,16,NaN,House Made Pizza,
17,AVwc_dHKkufWRAb51Kei,Provo,84602,UT,17,15.71,Mexican Pizza Dip,Seven layer bean dip
18,AVwc_dHKkufWRAb51Kei,Provo,84602,UT,18,NaN,Pepperoni Pizza,1 each (324.00 g)
19,AVwc_dHKkufWRAb51Kei,Provo,84602,UT,19,NaN,Pizza Bagel,1 each (149.18 g)

In [3]:
df.isna().any()

restaurant_id          False
restaurant_city        False
restaurant_zipcode     False
restaurant_province    False
pizza_id               False
pizza_price             True
pizza_name             False
pizza_description      False
dtype: bool

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3510 entries, 0 to 3509
Data columns (total 8 columns):
restaurant_id          3510 non-null object
restaurant_city        3510 non-null object
restaurant_zipcode     3510 non-null object
restaurant_province    3510 non-null object
pizza_id               3510 non-null int64
pizza_price            2948 non-null float64
pizza_name             3510 non-null object
pizza_description      3510 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 246.8+ KB

## Data Description

The data set reports information on menus of <b>pizzas made by restaurants</b> around the world. <br/>
The data frame df has <b>several rows for each restaurant</b> -- each row corresponds to one pizza on the menu of a certain restaurant. For example, from the table above, the first restaurant (restaurant_id AVwc_6KEIN2L1WUfrKAH) has two pizzas on the menu (i.e., two rows on the table), called "Bianca Pizza" and "Cheese Pizza". The second restaurant (AVwc_6qRByjofQCxkcxw) has five pizzas on the menu.<br/>
#### Columns:
<ul>
<li><b>restaurant_id</b>: identifier of a restaurant
<li><b>restaurant_city</b>: city of the restaurant
<li><b>restaurant_zipcode</b>: zipcode of the restaurant
<li><b>restaurant_province</b>: the province, state, or area of a restaurant
<li><b>pizza_id</b>: the identifier (unique throughout the data frame) of a pizza sold at a certain restaurant
<li><b>pizza_price</b>: the price of the pizza 
<li><b>pizza_name</b>: the name of the pizza
<li><b>pizza_description</b>: the pizza description
</ul>

#### Question 1

How many pizzas are in the menu of restaurant_id AVwcr6qqByjofQCxhENy?

#### Question 2

How many pizzas cost less than or equal to \$2 ?


How many pizzas cost more than \$20 (\$20 excluded)?

#### Question 3

In which city you can use $0.99(exactly) to buy a pizza ? 

In which city you can buy the most expensive pizza? 

<u>Both question assume no ties. Return just one string with the city name (not a Series or a DataFrame).</u>

Most expensive pizza:

#### Question 4

For each province, report the number of restaurants that sell at least one pizza for $100 or more. Report only the provinces with non zero count.

#### Question 5

How many restaurants are located in the largest (i.e, maximum) zipcode? <u>You must return only one number</u>

#### Question 6

The same pizza_name may be used in many restaurants. Find the top 5 most popular pizza_names in descending order.

#### Question 7

Find how many <u>distinct</u> pizza_names are sold in locations whose zipcode starts with "95". *Hint 1*: Use lambda function. * Hint 2*: Series.unique() find the list of unique values in a Series.

#### Question 8

The same pizza_name may appear in different cities. For each pizza_name, find the city with that pizza_name appears most times in different restaurants. List the top 5 most commonly appear pizza names together with their city name.

#### Question 9

Let us define "average pizza price of a city" as the average price of all pizzas sold in that city. Find the cities whose average pizza price is at least $20 higher than the average pizza price (computed throughout the whole data set). Report both the city and its average pizza price.

#### Question 10

<p>The same pizza_name may be used in many restaurants, and may be sold for different prices. For a given pizza_name, let us define <i>spread</i> as the difference between the maximum and minimum price at which that pizza is sold. What are the <b>five</b> pizza names with the widest spread? Report both the pizza names and the spreads.</p>

#### Question 11

<p>The original Margherita pizza does NOT contain garlic. The purpose of this problem is to analyze which provinces violate the original recipe most.</p>
<p>For each province, find the proportion of Margherita pizzas that contain garlic (i.e., among all Margherita pizzas, the proportion that contain garlic), <u>sorted by decreasing proportion</u>.</p>
<p>Your code must return one entry for each province that sells Margherita pizzas. To identify Margherita pizzas, you must check whether pizza_name contains the word 'Margherita' (or 'margherita'); to identify whether a pizza contains garlic, you must check whether pizza_description contains the word 'garlic' (or 'Garlic'). 

<p><i>Hint 1</i>: make a copy of the original data frame before solving this problem.</p>
<i>Hint 2</i>: use .lower() inside lambda function</p>